# Python
__pycache__/
*.py[cod]
*$py.class

# Environment/Configs
.env
.venv
env/
venv/
config.ini

# Data
data/*.sqlite3
data/*.index
data/*.pkl
logs/*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
desktop.ini
.DS_Store
